%ul#categories
  - if @category
    %li= link_to "全部", :tasks
  - else
    %li.selected 全部
  - Category.all.each do |c|
    - if @category != c
      %li= link_to c.name, [ c, :tasks ]
    - else
      %li.selected= c.name
