// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$r: 5px;

.b { font-weight: bold }

table.tasks {
  width: 530px;
  margin: 5px auto;
  background-color: #eee;
  border-collapse: collapse;
  border-spacing: 0;

  tr:nth-child(even) {
    background-color: #9dd2de;
    td:nth-child(2) {
      background-color: #b3b3b3;
    }
  }

  td {
    padding: 5px;
  }

  td:nth-child(2) {
    font-size: 90%;
    text-align: center;
    color: #444;
  }

  td:nth-child(3) {
    text-align: center;

    a {
      color: #444;
    }
  }

  col.name {
    width: 300px;
  }

  col.due_date {
    background-color: #ddd;
  }
}

div#task_due_date {
  text-align: right;
  color: #f00;
}

div#task_description {
  border: solid 1px #888;
  padding: 5px;
}

div#task_category {
  color: #080;
  font-weight: bold;
}

ul#categories {
  width: 540px;
  list-style: none;
  margin: 15px auto 5px;
  padding: 10px;

  li {
    display: inline;
    padding: 5px 10px;
    border: solid 1px #ccc;
    border-radius: $r;
    -moz-border-radius: $r;
    -webkit-border-radius: $r;
  }

  li.selected {
    background-color: #ddd;
    color: #444;
  }
}
