%ul.menu_items
  %li= link_to_unless params[:action] == "index", "カテゴリの一覧", :categories
  %li= link_to_unless params[:action] == "new", "カテゴリの追加", [ :new, :category ]
  %li= link_to "タスクの一覧に戻る", :tasks